<form class="main__calculator-form" method="post">
    <div class="form-top">
        <h4 class="form-top__text">Есть ли в КК повторения элементов?</h4>
        <label class="form-top__label" for="yes" title="Порядок важен">Да</label>
        <input class="form-top__radio" type="radio" id="yes" name="answer" value="yes3" required
               title="Порядок важен">
        <label class="form-top__label" for="no" title="Порядок не важен">Нет</label>
        <input class="form-top__radio" type="radio" id="no" name="answer" value="no3" required
               title="Порядок не важен">
        <button class="form-bottom__button" type="submit">Ответить</button>
    </div>
    <hr />
</form>