<form class="main__calculator-form" method="post">
    <div class="form-top">
        <h4 class="main__calculator-text">Введите m:</h4>
        <input class="body-input-text" type="text" name="m" required>
        <h4 class="main__calculator-text">Введите k через разделитель:</h4>
        <input class="body-input-text" type="text" name="k" required>
        <button class="form-bottom__button btn" type="submit">Решить</button>
    </div>
</form>