<form class="main__calculator-form" method="post">
    <div class="form-top">
        <h4 class="main__calculator-text">Ваша конфигурация: @ViewBag.TypeOfConfigure</h4>
        <h4 class="main__calculator-text">Ответ: @ViewBag.Result</h4>
        <a  class="form-bottom__button" href="@Url.Action("Index","Combinations")">Назад</a>
    </div>
</form>